<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>.::InterNexa::.</title>
    <link rel="icon" href="https://www.internexa.com/favicon.ico">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
</head>
<body>
   <style>
        * {
            margin: 0px;
            padding: 0px;
            box-sizing: border-box;
            font-family: 'Roboto', sans-serif !important;
        }
    </style>
    <div style="width:100%;min-height:100vh;display:flex;justify-content:center;align-items:center;flex-direction:column;">
        <h1>Recibido</h1>
        <p>
            Pronto te contactaremos para resolver todas tus dudas.
        </p>
    </div>
</body>
</html>